.wrapper {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.header__block,
.main__block,
.weather__info {
    display: flex;
    flex-direction: column;
}

.header__block {
    align-items: center;
    gap: 16px;
}
.header__block-button-h1 {
    display: flex;
    width: 100%;
}
.header__block-button-h1 #settings-button {
    justify-self: flex-start;
}
.header__block-button-h1 #main-title { margin: 0 auto; }
.header__form {
    display: flex;
    gap: 12px;
}
.header__block-button-h1 #settings-button {
    background-color: rgba(0, 0, 240, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 12px;
    font-size: 24px;
    color: white;
    border-radius: 50%;
    transition-duration: var(--ordinary-transition-duration);
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 240, 0.8);
        transform: translateY(10px);
    }

}
.header__form input[type="text"] {
    font-size: 24px;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        box-shadow: 0 0 10px black;
    }
}
.header__form input[type="submit"] {
    background-color: rgba(0, 0, 210, 0.5);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        box-shadow: 0 0 10px black;
        background-color: rgba(0, 0, 255, 0.8);
    }
}

.main__block {
    display: flex;
    gap: 50px;
}

.weather__info {
    background: rgba(34, 41, 34, 0.15);
    backdrop-filter: blur(20px);
    width: 60vw;
    height: 50vh;
    justify-self: center;
    align-self: center;
    border-radius: 15px;
    border: 1px solid rgb(200, 200, 200);
    padding: 20px;
    text-align: center;
    display: none;
    flex-direction: column;
    gap: 16px;
    transition-duration: var(--ordinary-transition-duration);
}

.weather__info__addiction {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.weather__info__addiction__block {
    display: grid;
    gap: 20px;
    backdrop-filter: blur(18px);
    background-color: rgba(0, 150, 150, 0.25);
    padding: 20px 0;
    border: 1px solid rgba(190, 190, 190, 0.25);
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        background-color: rgba(120, 120, 120, 0.4);
        transform: translateY(-10px);
    }
}

.future__weather__info {
    width: 60vw;
    height: 25vh;
    background: rgba(34, 41, 34, 0.15);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 30px;
    display: none;
    margin: 100px;
    border-radius: 15px;
    border: 1px solid rgb(200, 200, 200);
}

.future__weahter__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(14, 17, 14, 0.15);
    height: 100%;
    width: 14%;
    border-radius: 15px;
    gap: 14px;
    transition-duration: var(--ordinary-transition-duration);
    cursor: pointer;

    &:hover {
        margin: 0 0 10px 0;
    }
}

#select-base-city {
    background-color: rgba(0, 255, 42, 0.712);
    backdrop-filter: blur(30px);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        background-color: rgba(0, 255, 42, 0.938);
        box-shadow: 0 0 10px black;
    }
}

#select-recent-city {
    background-color: rgba(255, 174, 0, 0.712);
    backdrop-filter: blur(30px);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        background-color: rgba(255, 115, 0, 0.938);
        box-shadow: 0 0 10px black;
        color: white;
    }
}

#select-lately-city option[value="delete_all"] {
    background-color: red;
}

.account__panel {
    border: 2px solid grey;
    position: absolute;
    top: 0;
    left: -410px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-areas: 
    "main-title main-title main-title button-close"
    "register-button register-button register-button register-button"
    "sub-title-login sub-title-login sub-title-login sub-title-login"
    "login-button login-button login-button login-button"
    "bottom-subtitle bottom-subtitle bottom-subtitle bottom-subtitle";
    gap: 14px;
    transition-duration: var(--ordinary-transition-duration);

    & h2 { grid-area: main-title; }
    & #close-account-panel {
        grid-area: button-close;
        background-color: red;
        color: white;
        border: 1px solid black;
        cursor: pointer;
    }
    & #register-button,
    & #login-button {
        width: 50%;
        padding: 12px 18px;
        background-color: green;
        color: white;
        border: none;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: var(--ordinary-transition-duration);

        &:hover {
            box-shadow: 0 0 10px black;
        }  
    }
    & #register-button {
        grid-area: register-button; 
    }
    & #login-button {
        grid-area: login-button;
    }
    & h3#login-subtitle { grid-area: sub-title-login; }
    & h3#bottom-subtitle { grid-area: bottom-subtitle; }
}

#open-account-panel {
    position: absolute;
    top: 0;
    left: 0;
    margin: 14px 0 0 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    transition-duration: var(--ordinary-transition-duration);

    &:hover {
        box-shadow: 0 0 10px black;
        transform: scale(1.2, 1.2);
    }
}