:root {
    --primary-fond-color: white;
    --primary-font-family: sans-serif;
    --ordinary-transition-duration: 0.2s;
    --start-background: linear-gradient(90deg,rgb(166, 255, 248) 0%, rgb(0, 140, 255) 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body { height: 100%; }

ul,
ol { list-style-type: none  ; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

.wrapper {
    min-height: 100%;
    color: var(--primary-fond-color);
    font-family: var(--primary-font-family);
    background: var(--start-background);
}